body {
    background-color : #cbebe1;  
}

h1 {
    color : #4b9f9f;
}

h3 {
    color : #4b9f9f;
}

hr {
    border-color : rgb(196, 85, 104);
    border-style : dotted none none;
    border-width : 5px;
    width : 5%;
}